{% extends "home-base.html"%}
{% block title %}Home Page{% endblock %}
{% block head%}
  {{ super() }}
{% endblock%}
{% block page_content%}

  <!-- Page Content -->
  <div class="container">
    <h1 class="mt-5"><i class="fa fa-bullhorn" aria-hidden="true"></i> Welcome to SongBase!</h1>
    <p>This is a sample project for learning Flask.</p>
    <i class="fa fa-camera-retro fa-5x"></i>
    <span class="fa-stack fa-lg">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-twitter fa-stack-1x"></i>
</span>
  </div>


{% endblock%}
